$width: 820px;

.app__wrapper {
  display: flex;
  flex-direction: column;
  margin: 20vh auto 0;
  max-width: $width;
  justify-content: space-between;
}

.app__main {
  display: flex;
  justify-content: space-between;
}

.app__left-row {
  width: 230px * 100% / $width;
}

.app__right-row {
  width: 570px * 100% / $width;
}