@import 'scss/normalize.scss';
@import 'scss/colors.scss';

body {
  background-color: $bg-color;
  font-size: 12px;
  line-height: 1.2;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}